@import "../styles/variables.css";

.card{
    width: 60%;
    height: 15rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);

    display: grid;
    grid-template-columns: 15rem 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "image info statistics";
    align-items: center;
    
    margin: 0.5rem 0;
    text-decoration: none;
}

.card__image{
    grid-area: image;
    display: flex;
    justify-content: center;
}

.card__info{
    grid-area: info;
    display: grid;
}

.card__statistics{
    grid-area: statistics;
}

.card__title{
    max-width: 8rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--secondary-color);
}
.card__name{
    font-size: 1.8rem;
    font-weight: 600;
}
