@import "./styles/variables.css";

.navbar{
    display: flex;
    height: 5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.navbar__title-wrapper{
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}
.navbar__title{
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar__darkmode-icon-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.darkmode-icon{
    justify-items: flex-end;
    width: min-content;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 0.25rem;
}

.darkmode-icon:hover{

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

